extends layout

block content
  h1= title
  p Welcome to #{title}

  p Available info:

  ul
    li #[strong Movies:] !{movie_count}
    li #[strong Copies:] !{movie_instance_count}
    li #[strong Copies available:] !{movie_instance_available_count}
    li #[strong Directors:] !{directors_count}
    li #[strong Genres:] !{genre_count}
